[Desktop Entry]
Name=ARSnova
Comment=ARSnova Start/Stop
Exec=/bin/arsnova/arsNovaClick-192.png
Icon=/usr/share/icons/
Terminal=false
Type=Application
Encoding=UTF-8
