[Desktop Entry]
Name=ARSnova
Comment=ARSnova Start/Stop
Exec=/bin/arsnova
Icon=/usr/share/icons/arsNovaClick-192.png
Terminal=false
Type=Application
Encoding=UTF-8
