[Unit]
Description=Start script for arsnova.voting
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/arsnova/docker
ExecStart=/bin/bash -c "/usr/bin/touch /home/arsnova/voting.pid ; /usr/local/bin/docker-compose -f /home/arsnova/docker/docker-compose.yml up"
ExecStop=/bin/bash -c "/usr/local/bin/docker-compose -f /home/arsnova/docker/docker-compose.yml down ; /bin/rm /home/arsnova/voting.pid"
PIDFile=/home/arsnova/voting.pid

[Install]
WantedBy=multi-user.target
